<!doctype html>
<html lang="en">
  <head>
    <title>Mediathek-Downloader</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/main.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="static/limit_rate.js"></script>
    <script src="static/pause.js"></script>
    <script src="static/populate.js"></script>
  </head>
  <body onload="update_status()">
    <div class="container">
      {% with messages = get_flashed_messages() -%}
      {% for message in messages -%}
      <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert_message">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor -%}
      {% endwith -%}
      <div class="card" style="margin: 1em">
        <h5 class="card-header">Neuen Film laden</h5>
        <div class="card-body">
          <!-- <form method="POST"> -->
          <!-- <form> -->
          <form method="POST">
            <div class="mb-3">
              <label for="url" class="form-label">URL</label>
              <input type="url" class="form-control" id="url" name="url" placeholder="https://..." required="true" autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="filename" class="form-label">Dateiname</label>
              <input type="text" class="form-control" id="filename" name="filename" placeholder="My Movie" required="true" autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="directory" class="form-label">Verzeichnis</label>
              <select class="form-select" id="directory" name="directory">
                <option value="" selected>Verzeichnis auswählen...</option>
                {% for directory in directories -%}
                <option>{{ directory }}</option>
                {% endfor -%}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
          </form>
        </div>
      </div>

      <div class="card" style="margin: 1em">
        <h5 class="card-header">
          <div class="d-flex justify-content-between">
            <div style="align-self:center">Queue-Status</div>
            <div><button type="button" class="btn btn-primary btn-sm" id="pause_button" value="pause" onclick="toggle_pause()"><i class="bi bi-pause"></i> Pausieren</button></div>
          </div>
        </h5>
        <div class="card-body">
          <ol class="list-group list-group-flush" id="elements_list">
          </ol>
        </div>
        <div class="card-footer">
          <div>Rate: <span id="download_rate">0 KB/s</span></div>
          <div>
            Limit: <output name="bw-limit-output-name" id="limit_label">0</output> kB/s
            <input type="range" class="form-range" min="0" max="5000" step="500" value="0" id="bw_limit" oninput="set_limit_rate()">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
